.Home {
    position: absolute;
    width: 100%;
    padding: 0;
}

.chocolate {
    position: relative;
    top: -73px;
    left: -64px;
}
.content {
  position: relative; 
  top: -210px;
  height: 80%;
  width: 95%;
  margin: 0 auto;
  text-align: center;
   h1 {
   font-size: 5em;
   font-family: 'Parisienne', cursive;
   } 
}