@import 'config';
.Navigation {
    max-width: 970px;
    margin: auto;
}
nav {
    position: fixed;
    top: 18px;
    height: 100vh; 
    padding: 0;
    margin:  0 auto;
    width: 100vw;
    z-index: 1000;
   
    ul {
        display: none;
        list-style-type: none;
        padding: 15px 30px;
        height: inherit;
        background-color: #009688;
        li {
            margin: 30px 0;
            font-size: 1em;
            font-weight: 600;
            line-height: 20px;
            a {
                text-decoration: none;
                color:white;
            }
        }
       
    }
   .horizontal {
       display: block;
       background-color: transparent;
       margin-right: 0;
       height: 90px;
       float: right;

       li {
           float: left;
           margin-right: 1.4em;
           &:last-child {
               margin-right: 0;
           }
           a {
               color: #333;
           }
       }
   }
   .show-horizontal {
       background: #009688;
       li {
           a {
            color: white;
            padding-bottom: 0.5rem;
           }
        
       }
   }
}

.active {
    border-bottom: 2px solid chocolate;
}
#open {
    display: block;
}